In [2]:
import numpy as np
import pandas as pd

# Pandas

In [24]:
np.array(['3r4324']).nbytes

24

In [7]:
df.to_numpy()

array([['a', 1, 4],
       ['a', 2, 6],
       ['b', 3, 5],
       ['d', 10, 99]], dtype=object)

In [2]:
df = pd.DataFrame({'A': 'a a b d'.split(), 'B': [1,2,3, 10], 'C': [4,6, 5, 99]})
g = df.groupby('A')
display(df)

   A   B   C
0  a   1   4
1  a   2   6
2  b   3   5
3  d  10  99

In [56]:
for k, gp in list(g)[:2]:
    print(k)

a
b

In [66]:
func = lambda x: x / x.sum()
g.apply(func)

          B    C
0  0.333333  0.4
1  0.666667  0.6
2  1.000000  1.0
3  1.000000  1.0

In [73]:
g.groups.keys()

dict_keys(['a', 'b', 'd'])

In [19]:
s = ['ebacd', 'fghij', 'olmkn', 'trpqs', 'xywuv']
a = 'abc'
4*a

'abcabcabcabc'

In [24]:
q = [2, 5, 1, 3, 4]
q = [1, 2, 5, 3, 7, 8, 6, 4]
res =[qi - i for i, qi in enumerate(q, start=1) if qi > i]
res

[2, 2, 2]

In [26]:
[qi for i, qi in enumerate(q)]

[1, 2, 5, 3, 7, 8, 6, 4]

In [44]:
a = {3: 'aa', 6: 'b', 7: 'ddd'}
L = [1, 3, 4, -1, 99]
list(a.keys()).index(7)
L[5:]

[]

In [63]:
str.count

Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      method_descriptor

In [65]:
s = "   fly me   to   the moon  "
len(s.rstrip().rsplit(' ', 1)[1])

4

In [14]:
from itertools import permutations
words = 'abcde'
# set(permutations(words))
3**3.2
# for i in range(len(words)-1):
#     print(words[i:i+2])

33.63473536961897

In [1]:
s = 'abcd'
s[1:3]

'bc'

In [47]:
A = [-1, 1, 3, 3, 3, 2, 3, 2, 1, 0]
a = np.array(A)
b = np.diff(A)
b

array([ 2,  2,  0,  0, -1,  1, -1, -1, -1])

In [48]:
c = np.diff(b)
c

array([ 0, -2,  0, -1,  2, -2,  0,  0])

In [49]:
from itertools import groupby
for k, gp in groupby(c):
    if k == 0:
        print(len(list(gp))*(len(list(gp))+1)/2)

0.5
0.5
1.0

In [44]:
import numpy as np
import itertools
def solution(A):
    res = 0
    c = np.diff(np.diff(A)) # 2nd derivative = acceleration 
    for k, gp in itertools.groupby(c):
        if k == 0:
            l = len(list(gp))
            res += l * (l+1) /2
    return res

solution(10000*[2])

49985001.0

In [30]:
def f(particles):
    res = 0
    if len(particles) < 3:
       return 0
    for i in range(len(particles) - 2):
        for j in range(i + 1, len(particles) - 1):
            if particles[j + 1] - particles[j] == particles[i + 1] - particles[i]:
                res += 1
            else :
                break
    return res if res < 1000000000 else -1
f(A)

5

In [32]:
def countRunLength (X, start):
    i = start
    while i < len (X):
        if X [i]: i += 1
        else: break
    return i - start

def stablePeriods (X):
    D = [ X [i] -  X [i-1] for i in range (1, len (X)) ]
    S = [ D [i] == D [i-1] for i in range (1, len (D)) ]
    i = 0
    count = 0
    while i < len (S):
        if not S [i]: i += 1
        else:
            L = countRunLength (S, i)
            count += (L * (L+1)) / 2
            i += L
    return count

stablePeriods([1, 2])

0

In [37]:
%%time
A = 10000 * [2]
stablePeriods(A)

CPU times: user 4.29 ms, sys: 301 µs, total: 4.6 ms
Wall time: 4.63 ms

49985001.0

In [38]:
%%time
f(A)

CPU times: user 9.57 s, sys: 20.6 ms, total: 9.59 s
Wall time: 9.59 s

49985001

In [41]:
%%time
solution(A)

CPU times: user 5.93 ms, sys: 2.13 ms, total: 8.05 ms
Wall time: 8.55 ms

49985001.0

In [56]:
S = "50552"
max(10*int(S[i])+int(S[i+1]) for i in range(len(S)-1))

55

In [67]:
import math
N = 7
A = sorted(2**P * 3**Q for P in range(N) for Q in range(N))
A[7]

12

In [66]:
import collections

def bfs(A, i, j, k, count):
    directions = ((0,1),(1,0),(0,-1),(-1,0))
    q = collections.deque([(i,j,k)])
    visited = set()
    
    while len(q) != 0:
        for _ in range(len(q)):
            i, j, k = q.popleft()
            
            if (i,j) not in visited:
                visited.add((i,j))
                count[i][j] += 1
            
            for direction in directions:
                new_i, new_j, new_k = i + direction[0], j + direction[1], k-1
                
                if 0 <= new_i < len(A) and 0 <= new_j < len(A[0]) and new_k >= 0 and (new_i, new_j) not in visited:
                    q.append((new_i,new_j,k-1))

def solution(K, A):
    m, n = len(A), len(A[0])
    count = [[0 for _ in range(n)] for _ in range(m)]
    house_count = 0
    house_coordinates = set()
    res = 0
    
    for i in range(m):
        for j in range(n):
            if A[i][j] == 1:
                bfs(A, i, j, K, count)
                house_count += 1
                house_coordinates.add((i,j))
    
    for i in range(m):
        for j in range(n):
            if count[i][j] == house_count and (i,j) not in house_coordinates:
                res += 1
    
    return res

K = 2 
A = [ [0, 0, 0, 0], [0, 0, 1, 0], [1, 0, 0, 1] ]
solution(K, A)

2